<h1>Welcome <%= @user.first_name %></h1>
<p>Welcome to Chat. We’re thrilled to see you here!We’re confident that this app will help you stay connective to your friends.</p>
<p>To login to your account please click the link 
	<a href="http://localhost:5002/users/sign_in">Sign In</a></p>
