<div class="container " >
<div class="col-md-6 mx-auto mb-5">

<%= form_with url:post_create_path, local: true do |f| %>
	<%= f.text_area :post ,class: "form-control" %>
	<%= f.file_field :profile_pic%>
	<%= f.submit 'Post', class: "btn btn-success" %>
<% end %>
</div>
</div>
