<h1 style ="text-align: center"> Timeline - My posts and my friends posts</h1>
<%= render 'form'%>
<div class="container">
	<div class="col-md-6 mx-auto mb-5">
	<% @posts.each do |q|%>
	<div class="card" style="min-height:100px">

		<h3><%= User.find_by(:id=>q.user_id).user_name %></h3>
		<div class="card">
		<p><%= q.post%></p></div>
		<span><%= q.created_at.to_formatted_s(:short)%></span>
	</div>
	<br>
	<%end%>
</div>
</div>